/* ======================= */
/* SECTION: Layout Spacing */
						.forminator-ui.forminator-quiz#forminator-module-1620.forminator-quiz--list[data-spacing=custom] .forminator-question:not(.forminator-last) {
	margin-bottom: 30px;
}

.forminator-ui.forminator-quiz#forminator-module-1620.forminator-quiz--list[data-spacing=custom] .forminator-question:not(.forminator-last):after {
	margin-top: 30px;
}

.forminator-ui.forminator-quiz#forminator-module-1620.forminator-quiz--list[data-spacing=custom] .forminator-legend,
.forminator-ui.forminator-quiz#forminator-module-1620.forminator-quiz--list[data-spacing=custom] .forminator-image,
.forminator-ui.forminator-quiz#forminator-module-1620.forminator-quiz--list[data-spacing=custom] .forminator-question--description {
	margin: 0 0 15px;
}

.forminator-ui.forminator-quiz#forminator-module-1620.forminator-quiz--list[data-spacing=custom] .forminator-answer {
	margin-top: 15px;
}

.forminator-ui.forminator-quiz#forminator-module-1620.forminator-quiz--list[data-spacing=custom] .forminator-question--result {
	margin: 15px 0 0;
}

.forminator-ui.forminator-quiz#forminator-module-1620.forminator-quiz--list[data-spacing=custom] .forminator-quiz--result,
.forminator-ui.forminator-quiz#forminator-module-1620.forminator-quiz--list[data-spacing=custom] .forminator-quiz--social {
	margin-top: 30px;
	padding-top: 30px;
}

#forminator-quiz-leads-1620.forminator-ui.forminator-quiz--list[data-spacing=custom] {
	margin-bottom: 30px;
}			
/* =============== */
/* SECTION: Global */
	.forminator-ui.forminator-quiz#forminator-module-1620 {
		width: 100%;
																padding-top: 40px;
										padding-right: 40px;
										padding-bottom: 40px;
										padding-left: 40px;
																						border-style: none;
														border-radius: 30px;
				-moz-border-radius: 30px;
				-webkit-border-radius: 30px;
														background-color: transparent;
										border-color: #dfdfdf;
						}

/* =============== */
/* SECTION: Header */
/* ELEMENT: Quiz Title */
	.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-quiz--title {
									color: #5a595a;
														font-size: 42px;
															font-family: Roboto;
														font-weight: 700;						}
/* ELEMENT: Quiz Description */
	.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-quiz--description,
	.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-quiz--description p {
									color: #3e3e3e;
														font-size: 20px;
															font-family: Roboto;
														font-weight: 400;						}

/* ================ */
/* SECTION: Content */
/* ELEMENT: Quiz Question (Border color) */
.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-question:after {
	background-color: rgba(0,0,0,0.12);
}
/* ELEMENT: Quiz Question (Legend) */
.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-question .forminator-legend {
						color: #191a1e;
									font-size: 18px;
																font-family: Syne;
														font-weight: inherit;			}
/* Page indicator */
.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-page-indicator {
	display: flex;
    justify-content: flex-end;
			color: #888888;
				font-size: 13px;
							font-family: Roboto;
						font-weight: 400;	}/* Navigation Button */
.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-button.forminator-quiz-start,
#forminator-quiz-leads-1620.forminator-ui button.forminator-button.forminator-quiz-start {
						background-color: #17A8E3;
							color: #FFFFFF;
									font-size: 14px;
											font-family: Roboto;
										font-weight: 500;			}

.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-button.forminator-quiz-start:hover,
#forminator-quiz-leads-1620.forminator-ui button.forminator-button.forminator-quiz-start:hover {
						background-color: #008FCA;
							color: #FFFFFF;
			}

.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-button.forminator-quiz-start:focus,
.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-button.forminator-quiz-start:active,
#forminator-quiz-leads-1620.forminator-ui button.forminator-button.forminator-quiz-start:focus,
#forminator-quiz-leads-1620.forminator-ui button.forminator-button.forminator-quiz-start:active {
						background-color: #008FCA;
							color: #FFFFFF;
			}
/* ELEMENT: Quiz Question Description */
.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-question--description,
.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-question--description p {
						color: #8C8C8C;
									font-size: 20px;
											font-family: Roboto;
										font-weight: 400;			}/* ELEMENT: Quiz Question (Result) */
.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-question--result {
						color: #3e3e3e;
									font-size: 16px;
											font-family: "Roboto";
										font-weight: 700;			}
.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-button.forminator-result--retake {
						background-color: #222222;
							color: #FFFFFF;
									font-size: 13px;
											font-family: Roboto;
										font-weight: 500;			}

.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-button.forminator-result--retake:hover {
						background-color: #222222;
							color: #FFFFFF;
			}

.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-button.forminator-result--retake:focus,
.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-button.forminator-result--retake:active {
						background-color: #222222;
							color: #FFFFFF;
			}/* ELEMENT: Quiz Answers (Text) */
.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-answer .forminator-answer--name {
						color: #3e3e3e;
									font-size: 16px;
																font-family: "Syne";
														font-weight: 500;
			}

.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-answer input:checked + .forminator-answer--design .forminator-answer--name {
						color: #333333;
			}

.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-answer.forminator-is_correct input:checked + .forminator-answer--design .forminator-answer--name {
						color: #333133;
			}

.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-answer.forminator-is_incorrect input:checked + .forminator-answer--design .forminator-answer--name {
						color: #DA0000;
			}
	/* ELEMENT: Quiz Answers (Container) */
.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-answer .forminator-answer--design {
						border-color: rgba(225,223,219,0.5);
							background-color: #ffffff;
			}

.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-answer .forminator-answer--design:hover,
.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-answer .forminator-answer--design:focus {
						border-color: #dadada;
							background-color: #f5f5f5;
			}

.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-answer input:checked + .forminator-answer--design {
						border-color: #dadada;
							background-color: #f5f5f5;
			}

.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-answer.forminator-is_correct input:checked + .forminator-answer--design {
						border-color: #f6f6f6;
							background-color: #f6f6f6;
			}

.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-answer.forminator-is_incorrect input:checked + .forminator-answer--design {
						border-color: #DA0000;
							background-color: #FDF2F2;
			}
	/* ELEMENT: Quiz Answers (Checkbox) */
.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-answer .forminator-answer--status {
						border-color: #e1dfdb;
							background-color: #FFFFFF;
							color: #FFFFFF;
			}

.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-answer input:checked + .forminator-answer--design .forminator-answer--status {
						border-color: #8e8e8e;
							background-color: #8e8e8e;
			}

.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-answer.forminator-is_correct input:checked + .forminator-answer--design .forminator-answer--status {
						border-color: #1f1f1f;
							background-color: #1f1f1f;
							color: #FFFFFF;
			}

.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-answer.forminator-is_incorrect input:checked + .forminator-answer--design .forminator-answer--status {
						border-color: #DA0000;
							background-color: #DA0000;
							color: #FFFFFF;
			}

/* =============== */
/* SECTION: Footer */
/* Quiz Result Container */
.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-quiz--result {
	border-top-color: rgba(0,0,0,0.12);
}
/* Submit Button */
.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-button {
						background-color: #f08420;
							color: #FFFFFF;
									font-size: 14px;
											font-family: Roboto;
										font-weight: 500;			}

.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-button:hover {
						background-color: #008FCA;
							color: #FFFFFF;
			}

.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-button:focus,
.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-button:active {
						background-color: #008FCA;
							color: #FFFFFF;
			}
/* Navigation Button */
.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-pagination-footer .forminator-button:not(.forminator-button-submit) {
						background-color: #1ABCA1;
							color: #FFFFFF;
									font-size: 14px;
											font-family: Roboto;
										font-weight: 500;			}

.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-pagination-footer .forminator-button:hover:not(.forminator-button-submit) {
						background-color: #159C85;
							color: #FFFFFF;
			}

.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-pagination-footer .forminator-button:focus:not(.forminator-button-submit),
.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-pagination-footer .forminator-button:active:not(.forminator-button-submit) {
						background-color: #159C85;
							color: #FFFFFF;
			}

.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-pagination-footer .forminator-button.forminator-disabled {
						background-color: #E6E6E6;
							color: #888888;
			}
/* Back to questions Button */
.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-result--view-answers {
						background-color: #1ABCA1;
							color: #FFFFFF;
									font-size: 13px;
											font-family: Roboto;
										font-weight: 500;			}

.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-result--view-answers:hover {
						background-color: #159C85;
							color: #FFFFFF;
			}

.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-result--view-answers:focus,
.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-result--view-answers:active {
						background-color: #159C85;
							color: #FFFFFF;
			}
/* Summary */
.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-quiz--summary,
.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-quiz--summary p {
						color: #5a595a;
									font-size: 40px;
											font-family: Roboto;
										font-weight: 400;			}
/* Social Sharing */
.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-quiz--result .forminator-quiz--social {
	border-top-color: rgba(0,0,0,0.12);
}

.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-quiz--result .forminator-quiz--social .forminator-social--text {
						color: #4D4D4D;
									font-size: 20px;
											font-family: Roboto;
										font-weight: 400;
			}

.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-quiz--result .forminator-quiz--social .forminator-social--icon {
						font-size: 36px;
			}

.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-quiz--result .forminator-quiz--social .forminator-social--icon .forminator-icon-social-facebook {
						color: #0084BF !important;
			}

.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-quiz--result .forminator-quiz--social .forminator-social--icon .forminator-icon-social-twitter {
						color: #1DA1F2 !important;
			}

.forminator-ui.forminator-quiz#forminator-module-1620 .forminator-quiz--result .forminator-quiz--social .forminator-social--icon .forminator-icon-social-linkedin {
						color: #0084BF !important;
			}
/* ============= */
/* Custom Styles */